// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #386FA4
$secondary = #27474E
$accent    = #16262E

$dark      = #1d1d1d

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$light1 = #F0F4EF
$light2 = #ADB6C4

:root
  --q-color-light1 = $light1

.bg-light1
  background: $light1 !important
  background: var(--q-color-light1) !important

.light1-text
  color: $light1 !important
  color: var(--q-color-light1) !important


:root
  --q-color-light2 = $light2

.bg-light2
  background: $light2 !important
  background: var(--q-color-light2) !important

.light2-text
  color: $light2 !important
  color: var(--q-color-light2) !important